{% set pageSlug = "index" %}
{% set bodyClass = "home" %}
<!-- index.njk -->
{% extends "layouts/master.njk" %}

{% block content %}
	<div class="hero is-bg-image is-fullheight">
		<div class="hero-body">
			<div class="container">
				<h1 class="hero-title">Tutku, güven, <strong>deneyim!</strong></h1>
				<a href="#" class="hero-btn"><i class="fa fa-fw fa-coffee" aria-hidden="true"></i> Bi' Kahve?</a>
				<span class="scroll-icon"></span>
			</div>
		</div>
	</div>
	<div class="site-content">
		<div class="section call-to-action">
			<div class="container">
				<div class="row">
					<div class="col-xs-12">
						<div class="section-header">
							<h2 class="section-title">Gelişime açık olmak,yarında var olmaktır.</h2>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="section catalogue">
			<div class="container">
				<div class="row">
					<div class="col-xs-12 col-sm-5">
						<div class="section-object">
							<img src="assets/images/lr_world.png" alt="LR World Catalogue" class="section-image">
						</div>
					</div>
					<div class="col-xs-12 col-sm-7">
						<div class="section-header">
							<h2 class="section-title">Şubat ayı 2018 güncel kataloğu</h2>
						</div>
						<div class="section-body">
							<p>Alman kalitesine, standartlarına sahip ürün tüm Dünyada kabul görmekte olup üstün kalite ve güvenilirlilikleri nedeniyle yüksek itibara sahiptir. LR,ürünlerinin büyük bölümünü Ahlen şehrinde üretilmektedir.</p>
						</div>
						<div class="section-footer">
							<ul class="section-links">
								<li><a href="#"><span>Şubat</span><i class="fa fa-file-pdf-o" aria-hidden="true"></i></a></li>
								<li><a href="#"><span>Katalog</span><i class="fa fa-file-pdf-o" aria-hidden="true"></i></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="section send-message">
			<div class="container">
				<div class="row">
					<div class="col-xs-12">
						<div class="section-header">
							<h2 class="section-title">iletişim kurmak istiyorum</h2>
							<p class="section-subtitle"><i class="fa fa-fw fa-envelope-o"></i> info@kocaelitemsilci.com</p>
						</div>
						<div class="section-body">
							<form>
								<div class="row">
									<div class="col-xs-12">
										<div class="form-group">
											<label>Sevgili LR iş ortağı,</label>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-xs-12">
										<div class="form-group">
											<div class="form-column">
												<label for="adsoyad">Benim adım soyadım</label>
											</div>
											<div class="form-column">
												<input type="text" class="form-control" name="adsoyad" id="adsoyad">
											</div>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-xs-12 col-sm-6">
										<div class="form-group">
											<div class="form-column">
												<label for="eposta">E-posta adresim</label>
											</div>
											<div class="form-column">
												<input type="text" class="form-control" name="eposta" id="eposta">
											</div>
										</div>
									</div>
									<div class="col-xs-12 col-sm-6">
										<div class="form-group">
											<div class="form-column">
												<label for="ceptel">Cep telefonum</label>
											</div>
											<div class="form-column">
												<input type="text" class="form-control" name="ceptel" id="ceptel">
											</div>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-xs-12 col-sm-3">
										<div class="form-group">
											<div class="form-column">
												<select name="durum" id="durum" class="form-control">
													<option>LR üyesi değilim</option>
													<option>LR üyesiyim</option>
												</select>
											</div>
										</div>
									</div>
									<div class="col-xs-12 col-sm-9">
										<div class="form-group">
											<div class="form-column">
												<label for="mesaj">Size iletmek istediğim mesajım</label>
											</div>
											<div class="form-column">
												<input type="text" class="form-control" name="mesaj" id="mesaj">
											</div>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-xs-12">
										<div class="form-group">
											<div class="form-column">
												<input type="text" class="form-control" name="mesaj2" id="mesaj2">
											</div>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-xs-12">
										<div class="form-group">
											<div class="form-column">
												<label>En kısa sürede cevabını bekliyorum.</label>
											</div>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-xs-12 text-center">
										<button class="btn btn-submit">Gönder <i class="fa fa-angle-right" aria-hidden="true"></i></button>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
