	<footer class="site-footer">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-sm-4 col-sm-push-4 col-md-6 col-md-push-3 text-center">
					<a href="index.html" class="footer-brand">
						<img src="assets/images/logo_footer.png" alt="{{ site.title }}">
					</a>
				</div>
				<div class="col-xs-12 col-sm-4 col-sm-pull-4 col-md-3 col-md-pull-6">
					<div class="widget widget-links widget-pages">
						<div class="widget-body">
							<ul class="list-with-icons">
								<li><a href="#"><i class="fa fa-fw fa-quote-left" aria-hidden="true"></i> Aleo Vera</a></li>
								<li><a href="#"><i class="fa fa-fw fa-quote-left" aria-hidden="true"></i> LR Nedir?</a></li>
								<li><a href="#"><i class="fa fa-fw fa-quote-left" aria-hidden="true"></i> LR İş Ortağı</a></li>
								<li><a href="#"><i class="fa fa-fw fa-quote-left" aria-hidden="true"></i> İletişim</a></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-xs-12 col-sm-4 col-md-3">
					<div class="widget widget-links widget-contact">
						<div class="widget-body">
							<ul class="list-with-icons">
								<li><a href="#"><i class="fa fa-fw fa-facebook" aria-hidden="true"></i> Facebook</a></li>
								<li><a href="#"><i class="fa fa-fw fa-instagram" aria-hidden="true"></i> Instagram</a></li>
								<li><a href="#"><i class="fa fa-fw fa-whatsapp" aria-hidden="true"></i> Facebook</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12">
					<div class="widget widget-copyright">
						<div class="widget-body">
							<a href="#" class="scroll-top">
								<i class="fa fa-fw fa-chevron-circle-up" aria-hidden="true"></i>
								<span class="sr-only">Yukarı Çık</span>
							</a>
							<p>LR İş ortağının web sayfasında bulunmaktasınız. Bu web sayfası <a href="#">LR Health &amp; Beauty Systems</a>’in resmi web sayfası değildir ve içeriği LR Health &amp; Beauty Systems’i bağlamaz.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</footer>
