	<header class="navbar navbar-fixed-top{% if bodyClass == 'home' %} is-transparent{% endif %}" id="header">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
					<span class="sr-only">Menüyü Göster</span>
					<span class="fa fa-bars" aria-hidden="true"></span>
				</button>
				<a class="navbar-brand" href="index.html" title="{{ site.title }}">
					<img src="assets/images/logo.png" alt="{{ site.title }}">
				</a>
			</div>
			<div id="navbar" class="navbar-collapse collapse">
				<ul class="nav navbar-nav navbar-left">
					<li class="active"><a href="icerik.html">Aleo Vera</a></li>
					<li><a href="icerik.html">LR Nedir?</a></li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li><a href="icerik.html">LR İş Ortağı</a></li>
					<li><a href="icerik.html">İletişim</a></li>
				</ul>
			</div>
		</div>
	</header>
